.userInfo {
  display: none;
}

ol.memberList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 200px;
}

.extra {
  display: none;
}

a.avatar {
  display: none;
}

.memberListItem .member {
  margin-left: 0px;
}

.username span {
  text-shadow: none !important;
  background: url(https://mathiasbynens.be/demo/animated-webp-supported.webp) !important;
  background-position: center;
  background-size: contain;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  color: transparent;
  display: block;
}

li.primaryContent.memberListItem {
  padding: 0;
}

.memberListItem h3.username {
  display: block;
  margin: 0;
  height: 100%;
}

.member {
  height: 100%;
}